*
{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
}

#storeCarousel
{
    text-align: center;
    width: 420px;
}

body
{
    padding-top: 112px;
}

.navbar-main
{
    font-size: 1.5em !important;
}

.head-container
{
    background-image: url("../images/main-bg.jpg");
    background-size: cover;
}