*{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
}

#topsCarousel,
#hatsCarousel,
#otherCarousel,
#albumCarousel,
#ticketCarousel,
#posterCarousel
{
    text-align: center;
    width: 420px;
}
body{
    padding-top: 112px;
}

.navbar-main{
    font-size: 1.5em !important;
}